.buttonsContainer {
    .biscuitButton {
        width: 15%;
        color: #034485;
        background-color: #fafafa;
        border: #034485 solid 2px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 5em;
    }
    .biscuitButton:hover, .biscuitButton:active {
        color: #fafafa;
        background-color: #034485;
    }
}