.biscuitCard {
    border: #034485 solid 2px;
    background-color: #C5DF95;
    width: 30%;
    .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 95%;
        margin: 2.5% auto;
        border:  #034485 solid 2px;
        height: 30rem;
    }
}

@media only screen and (max-width: 1024px) {
    .biscuitCard{
        width: 75%;
        .image {
            width: 95%;
            margin: 2.5% auto;
            height: 15rem;
        }
    }
}
