.biscuitCard {
    border: #034485 solid 2px;
    background-color: #C5DF95;
    .biscuitImage {
        background-image: url(https://media.irishpost.co.uk/uploads/2020/03/30161636/shortbread-irish-post.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 95%;
        margin: 2.5% auto;
        border:  #034485 solid 2px;
        height: 30rem;
    }
}

@media only screen and (max-width: 600px) {
    .biscuitCard{
        .biscuitImage {
            width: 95%;
            margin: 2.5% auto;
            height: 15rem;
        }
    }
    }

